@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");
* {
    margin: 0;
    padding: 0;
}

header {
    width: 1367px;
    height: 80px;
    background-color: #525252;
}

.navbar {
    margin-left: 540px;
}

.navbar ul {
    display: flex;
    margin-top: -60px;
}

.navbar ul li {
    height: 30px;
    margin-left: 10px;
    text-decoration: none;
    list-style: none;
}

.navbar ul li a {
    font-weight: bolder;
    font-size: 19px;
    padding: 10px 7px 9px 13px;
    margin: 4px 5px 6px 8px;
    font-weight: normal;
    font-family: normal;
    text-decoration: none;
    list-style: none;
    color: white;
}

.badge {
    position: absolute;
    margin-top: -3px;
    width: 23px;
    background-color: red;
    margin-left: -10px;
    height: 20px;
    color: white;
}

.lo:hover {
    background-color: #006072;
}

.book {
    background-color: #006072;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
}

.book:hover {
    background-color: black;
    display: block;
}

.simple:hover {
    background-color: black;
}

.pri {
    font-size: 27px;
    color: #4f4f4f;
    font-weight: bold;
    width: 400px;
    height: 25px;
    margin: 20px 0 0 550px;
}

#box {
    margin: 40px 0 0 140px;
    display: inline-flex;
}

#body2,
#body3,
#body4 {
    display: none;
}

.btn:hover {
    background-color: #006072;
}

.but1 {
    background-color: #1D7A8C;
    color: white;
    border: 0px solid #1D7A8C;
    font-size: 13px;
    width: 150px;
    height: 42px;
}

.but {
    border: 0px solid #1D7A8C;
    font-size: 13px;
    width: 150px;
    height: 42px;
}

#btntxt1 {
    display: inline;
    font-family: roboto;
    font-size: 15px;
    font-weight: normal;
    color: white;
}

#btntxt2 {
    display: inline;
    font-family: roboto;
    font-size: 15px;
    font-weight: normal;
    color: #4f4f4f;
}

#btntxt3 {
    display: inline;
    font-family: roboto;
    font-size: 15px;
    font-weight: normal;
    color: #4f4f4f;
}

#btntxt4 {
    display: inline;
    font-family: roboto;
    font-size: 15px;
    font-weight: normal;
    color: #4f4f4f;
}

#body1 {
    margin: 20px 0 0 10px;
}

.enter {
    font-weight: bolder;
    margin-top: 23px;
}

.box1 {
    width: 600px;
    height: 64px;
    margin-top: 20px;
    border: 1px solid grey;
}

.s1 {
    margin-left: 12px;
    font-size: 14px;
    font-weight: bold;
    color: grey;
}

#s1 {
    font-size: 14px;
    font-weight: bold;
    color: grey;
    padding-left: 30px;
}

.round {
    background-color: white;
    color: #006072;
    border: 2px solid #006072;
    border-radius: 30px;
    width: 170px;
    height: 39px;
    margin-top: 24px;
}

.round:hover {
    background-color: #ddd;
    color: black;
}

.l1 {
    display: flex;
}

.ava {
    height: 40px;
    width: 160px;
    margin-left: 12px;
    background-color: #006072;
    color: white;
    border: 1px solid #006072;
    border-radius: 30px;
}

.ava1 {
    height: 40px;
    width: 160px;
    margin-left: 12px;
    background-color: #006072;
    color: white;
    border: 1px solid #006072;
    border-radius: 30px;
}

.ava1:hover {
    background-color: #ddd;
    color: black;
}

.ava:hover {
    background-color: #ddd;
    color: black;
}

.wrapper {
    margin-left: 40px;
    margin-top: 20px;
    height: 340px;
    width: 350px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.wrapper h3 {
    padding: 7px 4px 3px 10px;
    height: 50px;
    color: white;
    background-color: #006072;
}

.wrapper ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.wrapper li {
    display: flex;
    justify-content: space-between;
    line-height: 15px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 17px;
    color: grey;
}

.wrapper li:nth-last-child(1) {
    color: #006072;
    font-size: 28px;
}

.form-control {
    margin-top: 14px;
}

.card-img {
    margin-left: 400px;
}

p {
    margin-top: 13px;
    font-size: 15px;
    color: black;
    font-weight: bold;
}

.fi {
    width: 65px;
    height: 30px;
}

.era {
    margin-top: 7px;
}

.line {
    margin-top: 30px;
    border: 1px solid #e1e1e1;
    height: 1px;
    width: 572px;
}

.cleaner {
    display: inline-flex;
    margin-top: 43px;
}

.cleaner h5 {
    padding-left: 24px;
    margin-top: 20px;
    font-size: 15px;
    color: black;
    font-weight: bold;
}

.fii {
    width: 65px;
    height: 25px;
}

.ty {
    margin-top: 10px;
}

.extra {
    margin-top: 23px;
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.icon {
    display: inline-flex;
    margin-top: 20px;
}

.ic1 {
    width: 76px;
    height: 75px;
    border: 2px solid #e1e1e1;
    border-radius: 40px;
    margin: 9px 13px 4px 27px;
}

.i1 {
    width: 34px;
    height: 37px;
    margin: 15px 4px 3px 21px;
}


/* .ic1:hover{
	border:2px solid #006072;
} */

.ic1 input {
    width: 23px;
    height: 30px;
    padding: 14px 7px 0 22px;
}

.ic1 h6 {
    margin-top: 20px;
    height: 5px;
    width: 90px;
    color: grey;
}

.button-select {
    margin-top: 20px;
    margin-left: 22px;
    height: 23px;
    width: 84px;
    color: grey;
    border: 1px solid grey;
    background-color: white;
}

.button-select:hover {
    background-color: #ddd;
}

.com {
    margin-top: 28px;
    color: black;
    font-weight: bold;
}

.l {
    margin-top: 30px;
    display: flex;
}

.b1 {
    border: 1px solid #006072;
    border-radius: 24px;
    color: white;
    margin-top: 24px;
    background-color: #006072;
    width: 60px;
    height: 30px;
    margin: 10px 0 0 490px;
}

.b1:hover {
    background-color: #ddd;
    color: black;
}

#save {
    border-radius: 30px;
    height: 34px;
    width: 100px;
    color: black;
    border: 1px solid white;
}

#save:hover {
    color: white;
    border: 1px solid #006072;
    background-color: #006072;
}

#cancel {
    border-radius: 30px;
    height: 34px;
    width: 100px;
    color: black;
    border: 1px solid white;
}

#cancel:hover {
    color: white;
    border: 1px solid #006072;
    background-color: #006072;
}